{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Hello, {{user[1]}}</h1>
    {% if user[6] or user[7] %}
      <p>
        {% if user[6] %}
          {{user[6]}}
        {% endif %}
        {% if user[7] %}
          From <a href="http://maps.google.com/?q={{user[7]}}" target="_blank">{{user[7]}}</a>
        {% endif %}
      </p>
    {% endif %}
    {% if user[2] == 1 %}{# 해당 유저의 권한이 관리자 일 때. #}
      <p><a href="mailto:{{user[4]}}">{{user[4]}}</a></p>
    {% endif %}
    {% if user[8] %}
      <p>{{ user[8] }}</p>
    {% endif %}
    <p>
      Member Since : {{user[9]}}
      Last Seen : {{user[10]}}
    </p>
    {% if user[1] == session.get('name') %}
      <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
    {% endif %}
  </div>
{% endblock %}